.header-container {
    width: 35rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-container {
    color: red;
    transform: rotate(45deg);
}

.red-bar{
    display: inline-block;
    border: 2px solid red;
    width: 20rem;
    height: 0px;
}