.header-container {
    width: 40rem;
    display: flex;
    align-items: center;
}

.icon-container {
    color: red;
    transform: rotate(45deg);
}

.red-bar{
    display: inline-block;
    border: 2px solid red;
    width: 20rem;
    height: 0px;
    margin-left: 1rem;
}

.title {
    margin-left: 1rem;
}